<div class="container">
    <form action="">
        <div class="content mt-5 pt-5">
            <h2 class="row justify-content-center">Búsqueda por ID</h2>
            <app-search-id></app-search-id>
            <div id="id_founded_show">

                <pre>
                    <code>
                        @for(client of CLIENTS; track client.id) {
                            <label for="">Nombre: {{ client.name }} {{ client.last_name }}</label>
                            <label for="">Teléfono: {{ client.phone }}</label>
                            <label for="">Email: {{ client.email }}</label>
                        }
                    </code>
                </pre>

            </div>
        </div>
    </form>
</div>
