<section>
    <div class="main-container">
        <div class="card mt-3 col-md-3">
            <h5 class="card-header">Clientes</h5>
            <div class="card-body">
                <p class="card-text">
                    Total Clientes: {{ totalClients }}
                </p>
            </div>
        </div>
        <div class="card mt-3 col-md-3">
            <h5 class="card-header">Membresías</h5>
            <div class="card-body">
                <p class="card-text">
                    Total membresías: {{ totalMemberships }}
                </p>
            </div>
        </div>
    </div>
</section>